:root {
  --primary-color-dark:   #7f0000;
  --primary-color:        #b71c1c;
  --primary-color-light:  #ce5f57;
  --secondary-color-dark: #808d94;
  --secondary-color: #afbdc4;
  --secondary-color-light: #e1eff7;
  --primary-color-text:   white;
  --secondary-text-color: #000000;
}

body {
  background-color: var(--primary-color);
  font-family: 'Kaushan Script', cursive;
  color: white;
  text-align: center;
  -webkit-animation-name: shifting-background; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: shifting-background;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App > header > nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(127,0,0, 0.5);
}

.App > header > nav > ul > li{
  display: inline-block;
  margin: 20px;
}

.App > header > nav > ul > li > a {
  text-decoration: none;
  color: var(--primary-color-text);
}

.App > header > nav > ul > li > a:hover,
.App > header > nav > ul > li > a:active {
  color: #fa923f;
}

.Particles {
  position: fixed;
  height: calc(100vh);
  width: 100%;
  z-index: -1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shifting-background {
  0%   {background-color: var(--primary-color);}
  50%  {background-color: #7f0200; }
  100%  {background-color: var(--primary-color); }
}

@-webkit-keyframes shifting-background {
  0%   {background-color: var(--primary-color);}
  50%  {background-color: #7f0200; }
  100%  {background-color: var(--primary-color); }
}
